doctype html
html.h-100(lang="en")
  head
    title Hexlet todo app
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    #root
    script(src=assetPath('main.js'))
